.dropdown-menu {
    width: 300px;
    position: absolute;
    top: 55px;
    list-style: none;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 0%;
    background: white;
    padding: 1%;
  }
  
  .dropdown-menu li {
    padding: 4%;
    cursor: pointer;
    padding-left: 10%;
    padding-right: 10%;
    color: #101010;
    transition: all ease 0.5s;
    &:hover{
      transition: all ease 0.5s;
      transform: scale(1.1);
      color: #404040;
      a{
        color: #404040;
      }
    }
  }
  .dropdown-element{
    font-size: 25px;
  }
  .dropdown-menu.clicked {
    display: none;
  }
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #101010;
    padding: 16px;
  }
  @media screen and (max-width: 1073px){
    .dropdown-menu{
      position: inherit;
      gap: 0.5em;
      border: 1px solid #101010;
      padding: 5%;
      margin-top: 7%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .dropdown-menu li{
      padding-top: 5%;
      padding: 1%;
      padding-left: 0%;
      margin-top: 5%;
      text-align: center;
    }
    .navbar_link{
      padding: 0rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
