.interests_list{
        display: flex;
        flex-direction: column;
        gap: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
}
.container_animation_interests{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
}
.margin-interests{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.main-title-interests{
    color: #008ab3;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.description_interests{
    background-color: rgb(248, 248, 248);
    width: 15%;
    padding: 2%;
    border-radius: 25px;
    position: absolute;
    right: 10%;
    top: 25%;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    line-height: 1.8em;
}
@media(max-width: 1189px){
    .description_interests{
        width: 20%;
        right: 7%;
    }
}
@media(max-width: 892px){
    .description_interests{
        width: 25%;
        right: 5%;
        font-size: 1em;
    }
}
@media(max-width: 848px){
    .main-title-interests{
        font-size: 2.5em;
    }
}
@media(max-width: 710px){
    .description_interests{
        width: 27%;
        right: 2%;
        font-size: 0.9em;
    }
}
@media(max-width: 667px){
    .main-title-interests{
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
    }
    .container_animation_interests{
        top:55%;
    }
    .interests_list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        top: 55%;
        width: 100%;
    }
    .description_interests{
        top: 70%;
        width: 35%;
    }
}
@media(max-width: 500px){
    .description_interests{
        top: 65%;
        width: 40%;
    }
}
@media(max-width: 365px){
    .description_interests{
        width: 50%;
    }
}
@media(max-width: 292px){
    .description_interests{
        width: 70%;
    }
}

@media(max-width: 368px){
    .languages_list-interests{
        gap: 2em;
}
.margin-interests{
    margin-bottom: 10%;
    font-size: 1.7em;
}
}