@keyframes arrow_portfolio {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5 !important;
}
.openModal {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-out;
}
.first-title {
  font-size: 1.6rem;
  text-align: center;
  font-family: "Lemon";
  letter-spacing: 0.2rem;
  padding-bottom: 5%;
}
.container_arrow_title {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  white-space: nowrap;
  transition: all ease 0.5s;
  animation: arrow_portfolio 1s ease-out infinite alternate;
  position: relative;
  cursor: pointer;
  margin: 2%;
  box-shadow: 0px 37px 15px -3px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: scale(1.1);
    svg {
      transform: rotate(180deg);
    }
  }
  &:focus {
    transform: scale(1);
    svg {
      transform: rotate(0deg);
    }
  }
  h1 {
    position: relative;
    display: inline-block;
    color: white;
    padding: 10%;
  }

  h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: transparent;
    transition: width 0.3s ease;
  }
  svg {
    transition: all ease 0.5s;
    height: 2em;
    width: 2em;
    fill: white;
  }
  &:hover h1::after {
    width: 100%;
    background-color: white;
  }
  &:hover h1:focus {
    width: 100%;
  }
}
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
}
.react {
  text-align: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.close_button {
  position: absolute;
  top: 2%;
  right: 3%;
  svg {
    height: 1.5em;
    width: 1.5em;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease 0.5s;
  }
}
.arrows_img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  button {
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition: all ease 0.5s;
    }
    svg {
      height: 2em;
      width: 2em;
      transition: all ease 0.5s;
      &:hover {
        transition: all ease 0.5s;
        transform: scale(1.05);
      }
    }
  }
}
.container_links_portfolio_perso a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title-portfolio {
  font-size: 0.8rem;
  margin: 5%;
  text-align: center;
}
.card-single-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 100%;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  border-radius: 25px;
  gap: 2em;
  width: auto;
  min-height: 300px;
  box-shadow: 0px 37px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: #101010;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}
.card-single-project_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 5%;
  border-radius: 25px;
  gap: 2em;
  width: auto;
  min-height: 300px;
  z-index: 1;
  box-shadow: 0px 37px 15px -3px rgba(0, 0, 0, 0.1);
  color: #101010;
}
.img-single-project {
  padding-top: 15px;
  width: 95%;
  border-radius: 25px;
  height: auto;
  max-height: 367px;
  object-fit: cover;
  box-shadow: 0px 37px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all ease 0.5s;
}
.content-single-project {
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.05em;
}
.container_links_portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  gap: 1rem;
}
.link-single-project {
  border-radius: 25px;
  padding: 3%;
  white-space: nowrap;
  color: #101010;
  box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
  transition: all ease 0.4s;
  font-size: inherit;
  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 10px;
    width: 10%;
    height: 0px;
    background-color: transparent;
    transition: width 0.3s ease;
  }
  &:hover {
    transform: scale(1.08);
    color: white;
    transition: all ease 0.8s;
    background: linear-gradient(90deg, #00ccff, #d500f9);
    &::after {
      content: "";
      width: 75%;
      height: 2px;
      background: white;
      inset: 10px;
      left: 11px;
      top: 35px;
      transition: all ease 0.5s;
    }
  }
}
.link-single-project-figma {
  border-radius: 25px;
  padding: 4%;
  white-space: nowrap;
  color: #101010;
  box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
  transition: all ease 0.4s;
  font-size: inherit;
  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 10px;
    width: 10%;
    height: 0px;
    background-color: transparent;
    transition: width 0.3s ease;
  }
  &:hover {
    transform: scale(1.08);
    color: white;
    transition: all ease 0.8s;
    background: linear-gradient(90deg, #00ccff, #d500f9);
    &::after {
      content: "";
      width: 71%;
      height: 1px;
      background: white;
      inset: 10px;
      left: 10px;
      top: 45px;
      transition: all ease 0.5s;
    }
  }
}
.container_portfolio {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0%;
  margin-bottom: 1%;
}
.container-projects {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 1em;
  justify-content: center;
}
.take_space {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_title_img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 1%;
  img {
    width: 80%;
    height: 70%;
  }
}
.dev {
  margin-top: 5%;
  margin-bottom: 5%;
}
.container_portfolio-dev {
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
}
.container_portfolio-perso {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  position: absolute;
}
.container-projects-dev {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  height: 700px;
  padding-bottom: 5%;
}
.container-projects-dev > .card-single-project {
  gap: 1em;
}
.container-projects-dev > .card-single-project > img {
  height: 200px;
}
.margin {
  margin-top: 15%;
}
@media (max-width: 1420px) {
  .enabled {
    width: 90% !important;
  }
}
@media (max-width: 925px) {
  .modal-content {
    width: 70%;
  }
  .img-single-project {
    max-width: 65%;
  }
  .close_button {
    svg {
      height: 1.2em;
      width: 1.2em;
    }
  }
}
@media (max-width: 727px) {
  .arrows_img {
    gap: 1rem;
  }
}

@media (max-width: 601px) {
  .modal-content {
    width: 95%;
  }
  .img-single-project {
    max-width: 75%;
  }
}
@media (max-width: 593px) {
  .arrows_img {
    gap: 1rem;
    button {
      svg {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
  .card-single-project {
    padding: 5%;
  }
}
@media (max-width: 473px) {
  .arrows_img {
    gap: 0.5rem;
    button {
      svg {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
  .card-single-project {
    padding: 5%;
  }
}
@media (max-width: 389px) {
  .arrows_img {
    gap: 1rem;
  }
}
@media (min-width: 558px) {
  .main-title-portfolio {
    font-size: 1.2rem;
  }
  .container_arrow_title {
    flex-direction: row;
    width: 90%;
    svg {
      width: 2em;
      height: 2em;
    }
  }
  .first-title {
    font-size: 1.9rem;
  }
}
@media (min-width: 628px) {
  .main-title-portfolio {
    font-size: 1.8rem;
  }
  .first-title {
    font-size: 2.2rem;
  }
}
@media (min-width: 657px) {
  .card-single-project {
    flex: 0 0 40%;
  }
}
@media (min-width: 1007px) {
  .card-single-project {
    flex: 0 0 25%;
  }
  .container_arrow_title {
    margin: 0%;
  }
}
@media (max-height: 350px) {
  .react {
    padding-top: 10%;
    margin: 100% 0 5% 0;
  }
}
@media (max-height: 500px) {
  .react {
    padding-top: 10%;
    margin: 90% 0 5% 0;
  }
}
@media (max-height: 775px) {
  .react {
    padding-top: 10%;
    margin: 10% 0 5% 0;
  }
}
@media (max-height: 721px) {
  .react {
    padding-top: 10%;
    margin: 20% 0 5% 0;
  }
}
@media (max-height: 658px) {
  .react {
    margin: 35% 0 5% 0;
    padding-top: 10%;
  }
}
@media (max-height: 552px) {
  .react {
    margin: 50% 0 5% 0;
    padding-top: 10%;
  }
}
@media (max-height: 470px) {
  .react {
    margin: 60% 0 5% 0;
    padding-top: 10%;
  }
}
@media (max-height: 406px) {
  .react {
    margin: 75% 0 5% 0;
    padding-top: 10%;
  }
}
@media (max-height: 331px) {
  .react {
    margin: 95% 0 5% 0;
    padding-top: 10%;
  }
}
@media (max-height: 191px) {
  .react {
    margin: 100% 0 5% 0;
    padding-top: 10%;
  }
}
