@keyframes sepia{
    25%{
        filter: sepia(0.3);
    }50%{
        filter: sepia(0.5);
    }
        75%{
            filter: sepia(0.7);
        }100%{
            filter: sepia(0.9);
        }
    }
.container_links_portfolio_perso a{
    padding: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-title-portfolio{
    color: white;
    font-size: 2em;
    margin: 5%;
    text-align: center;
}
.card-single-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    gap: 2em;
    width: auto;
    min-height: 300px;
    box-shadow: 0px 37px 15px -3px rgba(0,0,0,0.1);
    z-index: 1;
}
.card-single-project:hover{
    transform: scale(1.02);
    transition: all ease-in 3s both;
}
.img-single-project{
    padding-top: 15px;
    width: 95%;
    border-radius: 25px;
    height: auto;
    max-height: 360px;
    object-fit: cover;
    box-shadow: 0px 37px 15px -3px rgba(0,0,0,0.1);
}
.img-single-project:hover{
animation: sepia ease-in 1s forwards;
}
.content-single-project{
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 0.05em;
}
.container_links_portfolio{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.link-single-project{
    border: 1px solid #8acce0;
    border-radius: 25px;
    padding: 5%;
    white-space: nowrap;
    color: #8acce0;
}
.link-single-project:hover{
    transform: scale(1.08);
    border: 1px solid black;
    color: black;
}
.container_portfolio{
display: flex;
height: 100%;
align-items: center;
flex-direction: column;
justify-content: center;
margin-left: 1%;
margin-right: 1%;
margin-top: 5%;
}
.container-projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2em;
}
.dev{
    margin-top: 5%;
    margin-bottom: 5%;
}
.container_portfolio-dev{
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
}
.container_portfolio-perso{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    position: absolute;
}
.container-projects-dev{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    height: 700px;
    padding-bottom: 5%;
}
.container-projects-dev > .card-single-project{
    gap: 1em;
}
.container-projects-dev > .card-single-project > img{
    height: 200px;
}
.main-title-portfolio-dev{
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}
.main-title-portfolio-perso{
    color: white;
    margin-bottom: 5%;
    font-size: 2em;
    text-align: center;
}
@media(max-width: 1700px){
    .container-projects-dev{
        padding-bottom: 5%;
    }
    .container_portfolio-dev{
        top: 10%;
        text-align: center;
    }
}
@media(max-width: 1552px){
.container-projects-dev{
    margin-left: 3%;
    margin-right: 3%;
}
.container-projects-dev > .card-single-project > .content-single-project{
    font-size: 1em;
}
}
@media(max-width: 1388px){
    .container-projects-dev{
        margin-left: 1%;
        margin-right: 1%;
    }
    .container-projects-dev > .card-single-project > .content-single-project{
        font-size: 0.9em;
    }
    }
    @media(max-width: 1329px){
        .container_portfolio{
            margin-top: 10%;
        }
    }
    @media(max-width: 1034px){
        .container-projects-dev{
            margin-left: 1%;
            margin-right: 1%;
            grid-template-columns: 1fr 1fr;
        }
        .container-projects-dev > .card-single-project > .content-single-project{
            font-size: 0.8em;
        }
        .container-projects-dev > .card-single-project > img{
            height: 250px;
        }
        .container-projects-dev >.card-single-project{
            min-height: 350px;
        }
        .container-projects-dev{
            margin-bottom: 10%;
        }
        .container-projects-dev{
            padding-bottom: 10%;
            height: auto;
        }
        .main-title-portfolio-dev{
            font-size: 1.8em;
        }
        .dev{
            margin-top: 20%;
        }
        }
@media(max-width: 1025px){
    .container-projects{
    grid-template-columns: 1fr;
    gap: 5em;
    margin-bottom: 15%;
    
    }

    .container_portfolio{
        width: 90%;
        margin: 5% 5% 5% 5%;
        height: auto;
    }
    .container_portfolio-perso{
        height: auto;
        margin: 5% 5% 5% 5%;
        height: auto;
        top: 8%;
    }
    .main-title-portfolio{
        font-size: 1.8em;
        margin: 7%;
    }
}
@media(max-width: 974px){
    .main-title-portfolio{
        font-size: 1.65em;
        
        text-align: center;
    }
    .container-projects-dev{
        gap: 3em;
    }
    .container_portfolio{
        margin: 10% 5% 5% 5%;
    }
}
@media(max-width: 854px){
    .container-projects-dev{
        grid-template-columns: 1fr;
    }
    .main-title-portfolio-dev{
        font-size: 1.5em;
    }
    .container_portfolio-dev{
        top: 115%;
        bottom: 0%;
    }
}
@media(max-width: 806px){
    .container-projects-dev{
        margin-left: 1%;
        margin-right: 1%;
        grid-template-columns: 1fr;
    }
}
@media(max-width: 788px){
    .main-title-portfolio-dev{
        padding-bottom: 5%;
    }
}
@media(max-width: 770px){
    .main-title-portfolio{
        font-size: 1.55em;
        margin: 9%;
    }
}
@media(max-width: 708px){
    .main-title-portfolio-dev{
        font-size: 1.4em;
    }
}
@media(max-width: 664px){
    .main-title-portfolio{
        font-size: 1.3em;
        margin: 9%;

    }
    .img-single-project{
        max-height: 300px;
    }
    .content-single-project{
        font-size: 1.1em;
    }
}
@media(max-width: 567px){
    .main-title-portfolio{
        font-size: 1.2em;
        margin: 9%;
    }
    .img-single-project{
        max-height: 250px;
    }
    .content-single-project{
        font-size: 1em;
    }
    .container_portfolio-dev{
        top: 110%;
    }
    .container_portfolio{
        margin: 15% 5% 5% 5%;
    }
}
@media(max-width: 437px){
    .main-title-portfolio{
        font-size: 1.1em;
    }
    .img-single-project{
        max-height: 200px;
    }
    .content-single-project{
        font-size: 1em;
    }
    .container-projects{
        gap: 2em;
}
.container-projects-dev >.card-single-project{
    min-height: 300px;
}
.container_portfolio-dev{
    top: 90%;
}
}
@media(max-width: 414px){
    .main-title-portfolio{
        font-size: 1em;
    }
    .img-single-project{
        max-height: 180px;
    }
    .content-single-project{
        font-size: 1em;
    }
    .container-projects{
        gap: 2em;
}
.container_portfolio-perso{
    top: 10%;
}
.main-title-portfolio-perso{
    font-size: 1.8em;
    padding-bottom: 5%;
}
.container_portfolio{
    margin: 20% 5% 7% 5%;
}
.main-title-portfolio-dev{
    font-size: 1.2em;
}
}
@media(max-width: 350px){
    .main-title-portfolio{
        font-size: 0.9em;
    }
    .img-single-project{
        max-height: 160px;
        width: 90%;
    }
    .content-single-project{
        font-size: 0.8em;
        padding: 0%;
    }
    .container-projects{
        gap: 2em;
}

.container-projects-dev{
    gap: 2em;
}
.container-projects-dev >.card-single-project{
    min-height: 280px;
    padding: 3%;
    
}
.container_portfolio-dev{
    top: 80%;
}
.container-projects-dev > .card-single-project > img {
    max-height: 280px;
}
.main-title-portfolio-dev{
    font-size: 1.1em;
}
}

@media(max-width: 300px){
    .img-single-project{
        max-height: 140px;
        width: 90%;
    }
    .content-single-project{
        font-size: 0.8em;
        padding: 0%;
    }
.container_portfolio{
    margin: 35% 5% 7% 5%;
}
.main-title-portfolio-dev{
    font-size: 1em;
}
}