.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 2em;
    background-color: rgba(255, 255, 255, 0.101);
    padding: 2%;
}
.container_inputs{
    display: flex;
    gap: 2em;
}
.input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #8acce0;
    color: white;
    font-size: 1.5em;
    padding: 1% 1% 1% 0%;
}
.input::placeholder{
    color: white;
}
.textarea{
    border: none;
    background-color: transparent;
    border: 1px solid #8acce0;
    padding: 1% 1% 1% 1%;
    color: white;
    font-size: 1.5em;
    resize: none;
    height: auto;
}
.textarea::placeholder{
    color: white;
}
.textarea:focus{
    border: 2px solid #8acce0;
    outline: none;
    transform: scale(1.02);
    transition: all ease 0.2s;
    font-size: 1.6em;
}
.input:focus{
    border-bottom: 2px solid #8acce0;
    outline: none;
    transform: scale(1.02);
    transition: all ease 0.2s;
    font-size: 1.6em;
}
.textarea:hover{
    border: 2px solid #8acce0;
    outline: none;
    transform: scale(1.02);
    transition: all ease 0.2s;
    cursor: pointer;
    font-size: 1.6em;
}
.input:hover{
    border-bottom: 2px solid #8acce0;
    outline: none;
    transform: scale(1.02);
    transition: all ease 0.2s;
    font-size: 1.6em;
    cursor: pointer;
}
.btn-submit{
    background-color: transparent;
    border: 1px solid #8acce0;
    color: white;
    font-size: 1.6em;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-submit:hover{
    border-bottom: 2px solid #8acce0;
    outline: none;
    transform: scale(1.02);
    transition: all ease 0.2s;
    font-size: 1.6em;
    cursor: pointer;
}
.main-title-contact{
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 2em;
letter-spacing: 0.1em;
text-align: center;
}
.sub-title-contact{
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.2em;
font-weight: 300;
letter-spacing: 0.15em;
text-align: center;
}
@media(max-width: 664px){
    .main-title-contact{
        font-size: 1.5em;
    }
    .sub-title-contact{
        letter-spacing: 0.1em;
    }
    .input{
        font-size: 1.3em;
    }
    .textarea{
        font-size: 1.3em;
    }
    .btn-submit{
        font-size: 1.5em;
    }
}
@media(max-width: 592px){
    .main-title-contact{
        font-size: 1.3em;
    }
    .sub-title-contact{
        letter-spacing: 0.05em;
        font-size: 1em;
    }
    .input{
        font-size: 1.1em;
    }
    .btn-submit{
        font-size: 1.2em;
    }
    .textarea{
        font-size: 1.1em;
    }
}
@media(max-width: 510px){
    .form{
        width: 80%;
    }
    .container_inputs{
        flex-direction: column;
    }
}
@media(max-width: 475px){
    .sub-title-contact{
        font-size: 0.9em;
    }
    .main-title-contact{
        font-size: 1.2em;
    }
    .input{
        font-size: 0.9em;
    }
}
@media(max-width: 428px){
.form{
    width: 90%;
}
}