@font-face {
    font-family: "Geomanist";
    src: url("/Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff");
    }
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  font-family: "Geomanist";
  -webkit-tap-highlight-color: transparent;
  color: black;
}
section{
  margin-top: 20%;
}
[id='no_border']{
  border-bottom: none;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.animation-apparition{
  animation: apparition 1s forwards;
}
a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
.container_all_app{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.scrollToTop{
  position: absolute;
  right: 2%;
}