@font-face {
    font-family: "Geomanist";
    src: url("/Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff");
    }
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Geomanist";
  -webkit-tap-highlight-color: transparent;
  background-color: #fefefe;
}
section{
  margin-top: 20%;
  border-bottom: 1px solid #8acce0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.animation-apparition{
  animation: apparition 1s forwards;
}
a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}