@font-face {
    font-family: "Geomanist";
    src: url("/Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff");
    }
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Geomanist";
  -webkit-tap-highlight-color: transparent;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.animation-apparition{
  animation: apparition 1s forwards;
}