.cvLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0%;
  gap: 3rem;
  padding-bottom: 10%;
  padding-top: 10%;
  background-color: #F5F5F5;
}

.cvLetter_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.container_cv,
.container_letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container_cv img,
.container_letter img {
  object-fit: contain;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.modal_cv_letter {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.modal-content_cv_letter {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
  box-shadow: 0px 37px 15px -3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 50%;
  padding: 2%;
}

.container_arrow_cv_letter {
  position: absolute;
  left: 5%;
  top: 5%;
  overflow: hidden;
}

.container_arrow_cv_letter svg {
  font-size: 3rem;
}

.modal-img {
  width: 50%;
  transition: all ease-in-out 1s;
}

.modal-img:hover {
  transform: scale(1.2);
  transition: all ease-in-out 1s;
}

.container_cv,
.container_letter {
  position: relative;
  overflow: hidden;
}

.container_cv::after,
.container_letter::after {
  content: 'Télécharger';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 2rem;
}

.container_cv:hover::after,
.container_letter:hover::after {
  opacity: 1;
}

.main-title-languages {
  font-size: 1.4rem;
  text-align: center;
}

@media (min-width: 414px) {
  .main-title-languages {
    font-size: 1.8rem;
  }
}

@media (min-width: 558px) {
  .main-title-languages {
    font-size: 2.4rem;
    margin-bottom: 0%;
  } 
}
@media (min-width: 628px) {
  .main-title-languages {
    font-size: 2.7rem;
  }
  .cvLetter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (min-width: 928px) {
  .main-title-languages {
    font-size: 2.7rem;
  }
  .cvLetter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0 5% 0 5%;
  }
  .container_cv img, .container_letter img{
    width: 100%;
  }
  .cvLetter {
    gap: 10rem;
  }
  
}

